.team {
  background-color: $background-light-theme;
}

.team-list {
  display: flex;

  &-item {
    background-color: $secondary-text-color-dark-theme;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &-description {
    padding: 30px 32px;
  }
  &-title {
    margin-bottom: 10px;
    @include font-style(
      $main-font,
      500,
      16px,
      19px,
      $letter-spacing-text,
      $title-color
    );
    text-align: center;
  }
  &-text {
    margin-bottom: 16px;
    @include font-style(
      $main-font,
      500,
      16px,
      19px,
      $letter-spacing-text,
      $primary-text-color
    );
    text-align: center;
  }
}
