.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  &-item:not(:last-child) {
    margin-right: 8px;
  }
  &-btn {
    display: inline-block;
    min-width: 128px;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    @include font-style(
      $main-font,
      500,
      16px,
      26px,
      $letter-spacing-text,
      $title-color
    );
    text-align: center;
    background-color: $background-light-theme;
    transition: background-color 250ms $timing-function,
      color 250ms $timing-function, box-shadow 250ms $timing-function;
    &:hover,
    &:focus {
      color: $secondary-text-color-dark-theme;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.works-list {
  display: flex;
  flex-wrap: wrap;

  &-item {
    width: 370px;
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:nth-last-child(n + 4) {
      margin-bottom: 30px;
    }
  }
  &-link {
    display: block;
    transition: box-shadow 250ms $timing-function;
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

.works-thumb {
  position: relative;
  overflow: hidden;
}

.works-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: $background-color-accent-trasparent;
  transform: translateY(100%);
  transition: transform 250ms $timing-function;
  &-text {
    @include font-style(
      $main-font,
      $font-weight-normal,
      18px,
      28px,
      $letter-spacing-text,
      $secondary-text-color-dark-theme
    );
  }
  .works-list-link:hover & {
    transform: translateY(0);
  }
}

.works-description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  &-title {
    margin-bottom: 4px;
    font-family: $main-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-color;
  }
  &-text {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}
