.professional {
  padding-top: 94px;
}

.professional-list {
  display: flex;

  &-item {
    width: 270px;
    &::before {
      display: block;
      content: "";
      height: 120px;
      margin-bottom: 30px;
      background-color: $background-light-theme;
      background-repeat: no-repeat;
      background-size: 70px 70px;
      background-position: center;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &-title {
    margin-bottom: 10px;
    @include font-style(
      $main-font,
      $font-weight-bold,
      $font-size-text,
      16px,
      $letter-spacing-text,
      $title-color
    );
    text-transform: uppercase;
  }

  &-text {
    @include font-style(
      $main-font,
      $font-weight-normal,
      $font-size-text,
      $line-height-text,
      $letter-spacing-text,
      $primary-text-color
    );
  }
}

.icon {
  &-antenna::before {
    background-image: url(../images/studia/antenna.svg);
  }

  &-clock::before {
    background-image: url(../images/studia/clock.svg);
  }

  &-diagram::before {
    background-image: url(../images/studia/diagram.svg);
  }

  &-astronaut::before {
    background-image: url(../images/studia/astronaut.svg);
  }
}
